@font-face {
  font-family: 'JetBrainsMonoNerdFontMono';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('JetBrainsMonoNerdFontMono-Italic'),
       url('../fonts/JetBrainsMonoNerdFontMono-Italic.ttf') format('ttf'),
       url('../fonts/JetBrainsMonoNerdFontMono-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'JetBrainsMonoNerdFontMono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('JetBrainsMonoNerdFontMono-Regular'),
       url('../fonts/JetBrainsMonoNerdFontMono-Regular.ttf') format('ttf'),
       url('../fonts/JetBrainsMonoNerdFontMono-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'JetBrainsMonoNerdFontMono';
  font-style: normal;
  font-weight: 800;
  src: local('Fira Sans Italic'), local('JetBrainsMonoNerdFontMono-ExtraBold'),
       url('../fonts/JetBrainsMonoNerdFontMono-ExtraBold.ttf') format('ttf'),
       url('../fonts/JetBrainsMonoNerdFontMono-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'JetBrainsMonoNerdFontMono';
  font-style: italic;
  font-weight: 800;
  src: local('Fira Sans Italic'), local('JetBrainsMonoNerdFontMono-ExtraBoldItalic'),
       url('../fonts/JetBrainsMonoNerdFontMono-ExtraBoldItalic.ttf') format('ttf'),
       url('../fonts/JetBrainsMonoNerdFontMono-ExtraBoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'JetBrainsMonoNerdFontMono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('JetBrainsMonoNerdFontMono-Regular'),
       url('../fonts/JetBrainsMonoNerdFontMono-Regular.ttf') format('ttf'),
       url('../fonts/JetBrainsMonoNerdFontMono-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'JetBrainsMonoNerdFontMono';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Italic'), local('JetBrainsMonoNerdFontMono-Bold'),
       url('../fonts/JetBrainsMonoNerdFontMono-Bold.ttf') format('ttf'),
       url('../fonts/JetBrainsMonoNerdFontMono-Bold.ttf') format('ttf');
}